.searchDiv {
  width: 75%;
  min-width: 210px;
  max-width: 448px;
  height: calc(25vh);

  margin: 0 auto;
  margin-top: 15px;
 
  text-align: center;
  
  display: flex;
  flex-flow: column;
}

.searchInput {
  position: relative;
}

.movesAndDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.moves {
  width: 25%;
  height: 200px;
  overflow: scroll;
}

.description {
  width: 30%;
}

.moveMisc {
  display: flex;
  flex-direction: row;
}

.itemsAndDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.items {
  width: 25%;
  height: 200px;
  overflow: scroll;
}

.highlighted {
  opacity: 0.6;
}
