:root {
  --font-family: "Comfortaa", cursive;

  --page-background-color: #25252b;

  --box-color: #1d1e22;
  --box-color-hover: #0d0d0f;

  --font-color: #fc6161;
  --font-color-inner: #e3e3e3;
  --font-color-inner-placeholder: #e3e3e39c;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px 0px;

  font-family: var(--font-family);

  color: var(--font-color);
  background-color: var(--page-background-color);
}

.imageLogo {
  width: 280px;
  height: 280px;
  margin-left: calc(50% - 280px);
  margin-bottom: 15px;
  transform: translateX(50%);
}

/* Login container */

.loginContainer {
  width: 75%;
  min-width: 210px;
  max-width: 448px;
  height: calc(75vh - 280px);
  min-height: 350px;
  margin: 0 auto;

  display: flex;
  flex-flow: column wrap;
}

.loginContainer input {
  margin-bottom: 15px;
  padding: 10px 10px;

  border-radius: 5px;
  border: 1px solid black;

  font-size: medium;

  outline-style: none;
  background-color: var(--box-color);
  color: var(--font-color-inner);
}

.loginContainer input:not(label):hover {
  background-color: var(--box-color-hover);
}

.loginContainer input:focus {
  background-color: var(--box-color-hover);
}

.loginContainer input::placeholder {
  color: var(--font-color-inner-placeholder);
}

.passwordConfirm {
  display: none;

  transition-duration: 0.25s;
  opacity: 0;
}

/* Reponse buttons container */

.responseBox {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.responseBox p {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.button {
  width: 40%;
  padding: 10px 1%;

  border: 1px solid black;
  border-radius: 5px;

  text-align: center;

  background-color: var(--box-color);

  transition-duration: 0.25s;
}

.button:nth-of-type(1) {
  width: 65%;
}

.button:nth-of-type(2) {
  width: 25%;
}

.button:hover {
  cursor: pointer;
  background-color: var(--box-color-hover);
}

.button:active {
  transition-duration: 0s;
  opacity: 0.2;
}

/* Media Query */

@media only screen and (min-width: 768px) and (min-height: 768px) {
  body {
    font-size: larger;
  }

  .imageLogo {
    width: 420px;
    height: 420px;
    margin-left: calc(50% - 420px);
    transform: translateX(50%);
  }

  /* Login container */

  .loginContainer {
    width: 80%;
    max-width: 658px;
    height: calc(75vh - 420px);
  }
  .loginContainer input {
    font-size: large;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1024px) {
  body {
    font-size: x-large;
  }

  .imageLogo {
    width: 640px;
    height: 640px;
    margin-left: calc(50% - 640px);
    transform: translateX(50%);
  }

  /* Login container */

  .loginContainer {
    width: 80%;
    max-width: 819px;
    height: calc(80vh - 640px);
    min-height: 426px;
  }
  .loginContainer input {
    font-size: larger;
  }
}